gluoncv
panns-inference
mxnet>=1.4.0,<2.0.0
fifty
regex
tqdm
transformers
torch
torchvision
torchaudio
more-itertools
transformers>=4.19.0
ffmpeg-python>=0.2.0
openai-whisper
setuptools-rust
scenedetect[opencv]
scikit-video
decord
git+https://github.com/openai/CLIP.git


